<div class="app-header">
  <div class="p-d-flex p-jc-between p-ai-center main-block">
    <div class="p-d-flex p-ai-center logo-title-block">
      <img src="assets/images/logo.png">
      <div class="p-d-flex p-flex-column">
        <div class="p-text-nowrap p-text-bold p-text-center">Sistema de Onboarding</div>
        <div class="p-text-nowrap p-text-bold p-text-center">Treinamento</div>
      </div>
    </div>
    <div class="p-d-flex p-grid p-jc-end p-ai-center user-icon-block">
      <div class="p-d-flex p-flex-column">
        <div class="p-text-nowrap p-text-right nomeUsuario">Mateus Augusto</div>
        <div class="p-text-nowrap p-text-right funcaoUsuario">Desenvolvedor</div>
      </div>
      <img class="p-m-3 user-icon" src="assets/images/user-icon.png">
    </div>
  </div>
  <p-menubar styleClass="menu" [model]="items"></p-menubar>
</div>
