<div class="app-pessoa-endereco">
  <div class="p-grid">
    <div class="p-col-4">
      <h5>Endereço</h5>
      <input type="text" pInputText [(ngModel)]="logradouro">
    </div>
    <div class="p-col-2">
      <h5>Número</h5>
      <input type="text" pInputText [(ngModel)]="numero">
    </div>
    <div class="p-col-4">
      <h5>Bairro</h5>
      <input type="text" pInputText [(ngModel)]="bairro">
    </div>
    <div class="p-col-2">
      <h5>CEP</h5>
      <p-inputMask [(ngModel)]="cep" mask="99999-999"></p-inputMask>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <h5>Município</h5>
      <input type="text" pInputText [(ngModel)]="cidade">
    </div>
    <div class="p-col-2">
      <h5>UF</h5>
      <input type="text" pInputText [(ngModel)]="uf">
    </div>
    <div class="p-col-2">
      <h5>Padrão</h5>
      <div class="p-d-flex p-flex-row p-jc-between">
        <div *ngFor="let opcao of opcoesPadrao" class="p-field-checkbox">
          <p-radioButton [inputId]="opcao.key" name="opcao" [value]="opcao" [(ngModel)]="opcaoPadraoSelecionada"></p-radioButton>
          <label [for]="opcao.key">{{ opcao.nome }}</label>
        </div>
      </div>
    </div>
    <div class="p-col-2 p-d-flex p-jc-end p-ai-center">
      <p-button (onClick)="clickAdicionar()" [disabled]="!camposPreenchidos()" styleClass="button" label="Adicionar" icon="pi pi-plus" iconPos="left"></p-button>
    </div>
  </div>
  <div>
    <p-table [value]="enderecosList" styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th class="col-endereco">Endereço</th>
          <th class="col-numero">Número</th>
          <th class="col-bairro">Bairro</th>
          <th class="col-cep">CEP</th>
          <th class="col-municipio">Município</th>
          <th class="col-uf">UF</th>
          <th class="col-padrao">Padrão</th>
          <th class="col-acao">Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-endereco>
        <tr>
          <td class="col-endereco">{{ endereco.logradouro }}</td>
          <td class="col-numero">{{ endereco.numero }}</td>
          <td class="col-bairro">{{ endereco.bairro }}</td>
          <td class="col-cep">{{ endereco.cep }}</td>
          <td class="col-municipio">{{ endereco.cidade }}</td>
          <td class="col-uf">{{ endereco.uf }}</td>
          <td class="col-padrao">{{ endereco.enderecoPadrao }}</td>
          <td class="col-acao">
            <p-button (onClick)="clickEditar(endereco)" icon="pi pi-pencil" class="button-item"></p-button>
            <p-button (onClick)="clickExcluir($event, endereco)" icon="pi pi-trash" class="button-item"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
