.app-pessoa-endereco {
  .col-numero {
    width: 100px;
  }
  .col-cep {
    width: 100px;
  }
  .col-municipio {
    width: 220px;
  }
  .col-uf {
    width: 50px;
  }
  .col-padrao {
    width: 65px;
  }
  .col-acao {
    width: 135px;
  }
}
