::ng-deep .app-cadastrar-produto .button {
  background-color: #4153b3;
}

.app-cadastrar-produto {
  .cadastrar-produto-content {
    background-color: #f1f1f1;
    width: auto;

    .cadastrar-produto {
      background-color: #ffffff;
    }
  }
}
