<div class="app-relatorio-clientes main-container">
  <p-confirmPopup></p-confirmPopup>
  <p-toast></p-toast>
  <div>
    <div class="p-d-flex p-jc-center p-p-5 relatorio-clientes-content page-content">
      <div class="p-p-3 relatorio-clientes inner-page-content">
        <p-panel class="relatorio-clientes" header="Relatório de Clientes">
          <div class="p-grid p-d-flex">
            <div class="p-col-9">
              <h5>Cliente</h5>
              <p-autoComplete (completeMethod)="autocompleteCliente($event.query)" [(ngModel)]="clienteSelecionado"
                              [forceSelection]="true"
                              [suggestions]="clientesFiltrados" field="nome"></p-autoComplete>
            </div>
            <div class="p-col-3">
              <h5>Tipo</h5>
              <p-dropdown [(ngModel)]="tipoPessoa" [options]="tipos" optionLabel="nome"
                          optionValue="valor" placeholder="Selecione o tipo"></p-dropdown>
            </div>
          </div>
          <div class="p-d-flex p-jc-end">
            <p-button (onClick)="clickLimpar()" icon="pi pi-refresh" iconPos="left" label="Limpar" styleClass="button">
            </p-button>
            <p-button (onClick)="clickImprimir()" icon="pi pi-print" iconPos="left" label="Imprimir"
                      styleClass="button"></p-button>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>
